.login-flow {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0;
}

.login-name {
}

.login-button {
  border: 0;
  background: #c996cc;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.logout-button {
  border: 0;
  background: #c996cc;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.auth-page {
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 99;
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-page-bg {
}

.hidden {
  display: none;
}

.login-buttons-container {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

[data-login] {
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}

.fb-login-button {
  width: 247px;
  height: 40px;
  background: center url(../assets/fb-login-button.png);
  background-size: 253px 40px;
}

.google-login-button {
  width: 253px;
  height: 55px;
  background: center url(../assets/google-login-button.png);
  background-size: 253px 55px;
}

.anonymous-login-button {
  width: 247px;
  height: 40px;
  background: #1c0c5b;
  color: #dcbade;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}
