#main-container {
  display: flex;
  flex-direction: row;
}

#project-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 4px 0 0 4px;
}

#todo-container {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.content-div {
  border: 2px solid transparent;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  font-size: 1.2rem;
}

#project-container > .content-div {
  background-color: #d9cab3;
}

#todo-container > .content-div {
  background-color: #d9cab3;
}
.corner-button {
  position: absolute;
  right: 0.5rem;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  max-width: 40px;
  transform: scale(0.7);
  transform-origin: top right;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 4px;
}

.corner-button:active {
  border-color: #212121;
}

.edit-button {
  top: 0.5rem;
  background: center / contain url(../assets/edit.png);
}

.delete-button {
  top: 3rem;
  background: center / contain url(../assets/bin.png);
}

#checklist-form-div .delete-button {
  width: 30px;
  height: 30px;
  transform: scale(0.8);
  transform-origin: bottom center;
  border: none;
  background-size: 28px;
}

#checklist-form-div {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.checkbox-label-form {
  max-width: 250px;
  overflow-wrap: break-word;
}

#checklist-form-div input[type="checkbox"] {
  margin: 5px;
  margin-bottom: 0;
  width: 20px;
  height: 20px;
}

.content-div > * {
  width: 100px;
  padding: 10px;
}

.toggle-button {
  border-radius: 4px;
  width: 90px;
  height: 40px;
  border: 3px solid transparent;
  background-color: #212121;
  color: #f6f6f6;
}

.name {
  order: 0;
  font-size: 1.5rem;
  width: 200px;
  text-align: center;
  font-weight: bold;
  overflow-wrap: break-word;
}

.date {
  order: 1;
}

.date .date-relative {
  margin-top: 10px;
  padding-left: 5px;
  border-left: 2px solid #6d9886;
}

.done-label {
  order: 2;
}

.priority-label {
  order: 4;
}

.notes-label {
  order: 5;
  width: 200px;
}

.description-label {
  order: 3;
  width: 200px;
}

.checklist-display {
  order: 99;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.checklist-element {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.checkbox {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.labels {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.labels > * {
  font-size: 1.2rem;
}

.labels :first-child {
  margin-top: 10px;
}

.done-true > button {
  border-color: #56993d;
}

.done-false > button {
  border-color: #993d3d;
}

.low > button {
  border-color: #56993d;
}

.medium > button {
  border-color: #99973d;
}

.high > button {
  border-color: #993d3d;
}

.selected {
  border-color: #212121;
}

#main-container .content-div.today {
  background-color: #b4d9ca;
}

.today .date-relative {
  font-weight: bold;
}

#main-container .content-div.past {
  opacity: 0.6;
}

.past .date {
  color: #8c2b2b;
}

.add-button {
  position: fixed;
  bottom: 10vh;
  left: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 4px;
  border: 2px solid transparent;
  background-color: #212121;
  color: #f6f6f6;
  font-size: 1.2rem;
  z-index: 1;
  box-shadow: 4px 4px 8px 0 black;
}

#add-button-todo {
  left: unset;
  right: 2rem;
}

.add-button:hover {
  border-color: #6d9886;
  color: #6d9886;
}

.add-button:active {
  color: #212121;
  background-color: #6d9886;
}

form {
  z-index: 100;
  background-color: #404040;
  position: absolute;
  top: 5vh;
  width: fit-content;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  color: #f6f6f6;
  padding: 0.5rem;
  align-self: center;
}

.form-title {
  font-size: 1.4rem;
}

form > * {
  max-width: 80vw;
  margin: 0.5rem;
}

form > label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button[type="submit"],
.close-form-btn {
  font-size: 1.5rem;
  line-height: 2rem;
  width: 2.5rem;
  height: 2.5rem;
}

.form-btns {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

form button {
  background-color: transparent;
  border: 2px solid #f6f6f6;
  color: #f6f6f6;
  border-radius: 4px;
}

#add-checklist-button {
  padding: 5px;
  width: fit-content;
}

form button:active {
  background-color: #f6f6f6;
  color: #212121;
}

.div-radio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "main main"
    "label input"
    "label input"
    "label input";
  align-items: center;
}

.div-radio-done {
  grid-template-rows: repeat(3, 1fr);
}

.main-label {
  grid-area: main;
}

.main-label ~ label {
  text-align: right;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
}

.div-radio input[type="radio"] {
  margin-top: 0.5rem;
}

input[type="text"],
textarea,
select,
option,
input[type="time"],
input[type="date"] {
  background: #f6f6f6;
  border-radius: 4px;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-left: 3px solid transparent;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: min(20rem, max(200px, 50vw));
}

input[type="text"]:focus,
textarea:focus,
select:focus,
option:focus,
input[type="time"]:focus,
input[type="date"]:focus {
  border-left: 3px solid #6d9886;
}

.background-form {
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 99;
  background-color: #d9cab3;
  position: fixed;
}

.visually-hidden {
  display: none;
}

button {
  cursor: pointer;
}

/* @media (max-width: 800px) and (orientation: portrait) {
  #main-container {
    flex-direction: column;
  }

  #project-container {
    width: 100%;
    overflow-x: scroll;
  }

  #todo-container {
    width: 100%;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  body {
    max-height: 100vh;
  }

  #main-container {
    flex-direction: row;
    height: calc(100% - 135px);
  }

  #project-container {
    overflow-y: scroll;
  }

  #todo-container {
    overflow-y: scroll;
  }

  .content-div {
    min-height: fit-content;
    width: 80%;
    padding: 5px;
    padding-right: 60px;
  }

  #project-container .content-div {
    width: 50%;
  }

  .name {
    width: fit-content;
  }

  .content-div > * {
    width: fit-content;
  }
} */
