.login-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  background: #c996cc;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.logout-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: 0;
  background: #c996cc;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.auth-page {
  height: 85vh;
  top: 15vh;
  position: fixed;
  z-index: 99;
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.login-buttons-container {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

[data-login] {
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}

.fb-login-button {
  width: 247px;
  height: 40px;
  background: center url(./fb-login-button.png);
  background-size: 253px 40px;
}

.google-login-button {
  width: 253px;
  height: 55px;
  background: center url(./google-login-button.png);
  background-size: 253px 55px;
}

.anonymous-login-button {
  width: 247px;
  height: 40px;
  background: #1c0c5b;
  color: #dcbade;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}
